<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Star Wars Portal
  </h1>
  <img src="https://d8mkdcmng3.imgix.net/5e61/gifts-gadgets-lighting-novelty-star-wars-3d-deco-wall-light-r2d2.png?auto=format&bg=0FFF&fit=fill&h=600&q=100&w=600&s=8d7792a598e142240ed1544405c0bcb0"
   alt="" heigh=150 width=150>
  <nav>
    <a routerLink="/characters">Characters</a>
    <a routerLink="/starships">Starships</a>
  </nav>
</div>

<router-outlet></router-outlet>

